
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img{
    height: 550px;
    width: 370px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 54px 55px, rgba(0, 0, 0, 0.22) 0px -12px 30px, rgba(0, 0, 0, 0.22) 0px 4px 6px, rgba(0, 0, 0, 0.25) 0px 12px 13px, rgba(0, 0, 0, 0.15) 0px -3px 5px;
  }

.details{
    font-size: 22px;
    text-align: justify;
    font-family: "Franklin Gothic Medium";
}  

.column{
    max-width:400px;
    margin: 30px;
}
.h1{
    font-size: 25px;
    height: 55px;
    letter-spacing: 1px;
    font-family: "Franklin Gothic Medium";
    width: 300px;
    text-align: left;
}
#star{
  color:yellow;
}

.imgout{
    height: 200px;
    width: 250px;
    
}